{% extends 'base.html.twig' %}

{% block title %}Recipe{% endblock %}

{% block body %}
    <h1>Recipe</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ recipe.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ recipe.name }}</td>
            </tr>
            <tr>
                <th>PreparationTime</th>
                <td>{{ recipe.getTimeConverted(recipe.preparationTime) }}</td>
            </tr>
            <tr>
                <th>CookingTime</th>
                <td>{{ recipe.getTimeConverted(recipe.cookingTime) }}</td>
            </tr>
            <tr>
                <th>Rating</th>
                <td>{{ recipe.rating }}</td>
            </tr>
            <tr>
                <th>steps</th>
                <td>
                <ul>
                {% for recipe in recipe.steps %}
                    <li>{{ recipe.description }}</li>
                {% endfor %}
                </ul>
 
                </td>
            </tr>
            <tr>
                <th>Ingredients</th>
                <td>
                {% for ingredient in recipe.ingredientQuantities %}
                    {{ ingredient.quantity }} {{ingredient.ingredients|first}}
                {% endfor %}
                </td>
            </tr>

        </tbody>
    </table>

    <a href="{{ path('recipe_index') }}">back to list</a>

    <a href="{{ path('recipe_edit', {'id': recipe.id}) }}">edit</a>

    {{ include('recipe/_delete_form.html.twig') }}
{% endblock %}
